.UiText {
  margin: 0;

  &_body {
    color: var(--color-text);
    font-size: var(--font-md);
    line-height: 1.6;
  }

  &_caption {
    color: var(--color-text-secondary);
    font-size: var(--font-sm);
    line-height: 1.5;
  }

  &_muted {
    color: var(--color-text-muted);
    font-size: var(--font-md);
  }

  &_label {
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-text);
  }

  &_size-xs {
    font-size: var(--font-xs);
  }

  &_size-sm {
    font-size: var(--font-sm);
  }

  &_size-md {
    font-size: var(--font-md);
  }

  &_size-base {
    font-size: var(--font-base);
  }

  &_size-lg {
    font-size: var(--font-lg);
  }

  &_size-xl {
    font-size: var(--font-xl);
  }

  &_size-xxl {
    font-size: var(--font-xxl);
  }

  &_size-xxxl {
    font-size: var(--font-xxxl);
  }
}
