.Logo {
  margin: 0;
  font-family: var(--bk-font-family);
  font-weight: var(--bk-font-weight-semibold);
  line-height: 1;
  cursor: pointer;

  &_size-lg {
    font-size: var(--bk-font-size-logo);
    letter-spacing: -0.5px;
  }

  &_size-sm {
    font-size: 24px;
  }

  &__dark {
    color: var(--bk-color-text-logo-dark);
  }

  &__accent {
    color: var(--bk-color-primary);
  }
}
